*.sw[a-p]
*.kate-swp
*.o
*~
*.cdl
*.nes
*.nl
*.dbg
/obj/*
/output/*
/zip.in
*.nes.deb
/map.txt
/nsfmap.txt
/tools/tokumaru/tokumaru
/tools/tokumaru/demo/tokumaru
*.exe
__pycache__/
*.pyc
nrom-template.nes
nrom-template-*.zip

# this is NES homebrew, not DSiWare
*.DS_Store
